<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
          
       <bean id="ltime" class="java.time.LocalTime" factory-method="now"/> <!-- dependent spring bean cfg -->
       <bean id="ldate" class="java.time.LocalDate" factory-method="now"/> <!-- dependent spring bean cfg -->
       
       <bean id="wmg" class="com.rk.sbeans.WishMessageGenerator"> <!-- target spring bean cfg -->
       		<constructor-arg name="time" ref="ltime"/>
       		<constructor-arg name="date" ref="ldate"/>
       		<constructor-arg name="age" value="20"/>
       		<constructor-arg name="email" value="raushan@gmail.com"/>
       </bean>
       
</beans>