<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
          
       <!-- cfg java classes as spring beans -->
       <bean id="ltime"  class="java.time.LocalTime"  factory-method="now"/> <!-- dependent spring bean cfg -->
       <bean id="ldate"  class="java.time.LocalDate"  factory-method="now"/>
           
       <bean id="wmg" class="com.rk.sbeans.WishMessageGenerator"> <!--  target spring bean cfg -->
       
       <property name="time" ref="ltime"/>
       <property name="age" value="20"/>
       <property name="email" value="raushan@gmail.com"/>
       <property name="date" ref="ldate"/>
       
       </bean>
       
</beans>